{% extends 'base.html.twig' %}
{% block title %}Modifier mon Mot de passe- LeBipBIP{% endblock %}

{% block content %}
    <h1>Modifier mon Mot de passe</h1>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
       - <a href="{{path('account')}}">Retourner à mon compte</a>
       <hr>

    {{form(form)}}
    
{% endblock %}
