{% extends 'base.html.twig' %}

{% block title %}Page Introuvable - LeBipBip{% endblock %}

{% block content %}
       <div class="block-small"> 
          <h2>Page Introuvable</h2>
          <p>Nous sommes vraiment navrés mais il semble que la page recherchée n'ait actuellement pas disponible....</p>
          <a href="{{path('home')}}" class="btn btn-info">Revenir au site ?</a>
        </div>
{% endblock %}
